*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
}
.main-box{
    padding: 32px;
    overflow: hidden;
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head-logo a{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 0.4px;
    color: #243E63;
}
.head-logo img{
    width: 40px;
}
.navbar-links{
    display: flex;
    align-items: center;
}
.navs{
    display: flex;
    align-items: center;
    gap: 48px;
    list-style-type: none;
    padding-top: 5px;
}
.navs li a{
    text-decoration: none;
    color: #243E63;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.4px;
    text-transform: capitalize;
}
.navs li a:hover{
    color: #6415ff;
}
.navs li a::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 4px;
    background: #fff;
}

.navs li a:hover::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 4px;
    background: #6415ff;
}
.registration-links{
    margin-left: 70px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.login{
    text-decoration: none;
    color: #243E63;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.4px;
    padding-top: 5px;
    text-transform: capitalize;
}
.login:hover{
    color: #6415ff;
}
.login::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 4px;
    background: #fff;
}
.login:hover::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 4px;
    background: #6415ff;
}
.signUp-btn{
    padding: 12px 32px;
    background: #5011cc;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    border-radius: 4px;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    transition: all .5s ease-in-out;
}
.signUp-btn:hover{
    background: #6415ff;
    color: #fff;
    transition: all .5s ease-in-out;
}


.banner-main{
    padding: 96px 0;
    position: relative;
}
.banner-sec{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
.common-head{
    font-weight: 900;
    font-size: 48px;
    color: #243E63;
    text-wrap: balance;
    line-height: 1.375;
}
.common-head span{
    background: #6415ff;
    display: inline-block;
    transform: skewX(-12deg);
    color: #fff;
    padding: 0 15px;
}
.banner-content p{
    padding: 32px 0;
    color: #718096;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    max-width: 80%;
}
.banner-image{
    position: relative;
}
.banner-image img{
    width: 100%;
    border-radius: 40px;
}
.banner-links{
    display: flex;
    align-items: center;
    gap: 35px;
}
.common-btn{
    padding: 12px 32px;
    background: #5011cc;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    border-radius: 4px;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    transition: all .5s ease-in-out;
}
.common-btn:hover{
    background: #6415ff;
    color: #fff;
    transition: all .5s ease-in-out;
}
.video-link{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #506582;
    font-weight: 500;
    font-size: 16px;
    transition: all .5s ease-in-out;
}
.video-link:hover{
    color: #742cff;
    transition: all .5s ease-in-out;
}
.banner-links .playIcon{
  width: 48px;
  height: 48px;
  stroke-width: 1;
}
.leftSide-img {
    position: absolute;
    left: 0px;
    bottom: 0px;
    transform: translate(-65%);
    z-index: -10;
    height: 256px;
    width: 256px;
    opacity: 0.05;
}
.rightSide-img{
    position: absolute;
    right: 0px;
    bottom: 0px;
    transform: translate(40%, 28%);
    z-index: -10;
    height: 128px;
    width: 128px;
    fill: currentcolor;
    color: #6415ff;
    opacity: 0.25;
}


.offers-main{
    padding: 96px 0;
    position: relative;
}
.offers-sec{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.offer-image img{
    width: 100%;
    border-radius: 40px;
}
.offer-content{
    margin-left: 64px;
}
.offer-content h5{
    color: #6415ff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.8px;
    padding-bottom: 16px;
}
.offer-content p{
    padding: 48px 0 45px;
    font-size: 18px;
    line-height: 1.5;
    color: #7c8ba1;
    font-weight: 500;
}
.offer-content p span{
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
}
.offer-content a{
    font-size: 14px;
}
.image-down{
    position: absolute;
    left: 15%;
    bottom: 0px;
    transform: translate(50%, -28%);
    z-index: -10;
    height: 128px;
    width: 128px;
    fill: currentcolor;
    color: #6415ff;
    opacity: 0.25;
}


.our-menu-main{
    padding: 96px 0;
    position: relative;
}
.head-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tabs{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 10px;
    background: #edf2f7;
    padding: 25px 8px;
    line-height: 0.6;
    border-radius: 4px;
}
.tabs li a{
    text-decoration: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 2px;
    color: #718096;
}
.tabs li a:hover{
    background: #e2e8f0;
    color: #4a5568;
}
.tabs li a.active{
    background: #6415FF;
    color: #fff;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}
.menu-sec{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 48px;
    padding-top: 64px;
}
.menu-box{
    background: #edf2f7;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
}
.menu-box img{
    width: 100%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    aspect-ratio: 1;
    object-fit: cover;
}
.menu-content{
    padding: 16px;
}
.menu-content h3{
    font-size: 18px;
    font-weight: 600;
    color: #1a202c;
}
.details{
    color: #718096;
    font-weight: 500;
    font-size: 14px;
    margin-top: 8px;
}
.price{
    font-weight: 700;
    color: #1a202c;
    font-size: 20px;
    margin-top: 20px;
}
.rightSide-menu-img{
    position: absolute;
    right: 0px;
    top: 0px;
    transform: translate(68%, -21%);
    z-index: -10;
    width: 256px;
    height: 256px;
    fill: currentColor;
    color: #f687b3;
    opacity: 0.15;
}
.menu-img{
    position: relative;
}
.rating-box{
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin-left: 16px;
    margin-bottom: 20px;
    display: inline-flex;
    align-items: flex-end;
    gap: 3px;
    border-radius: 50px;
    background: #f7fafc;
    padding: 8px 20px;
    line-height: 1;
}
.rating-txt{
    color: #243E63;
    font-size: 14px;
    font-weight: 700;
}

.rating-txt i{
    color: #f6ad55;
}
.rating-count{
    font-size: 12px;
    color: #718096;
    font-weight: 500;
}

.menu-img .card{
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    transition: all .3s ease-in-out;    
}
  
.menu-box:hover .card{
    visibility: visible;
    opacity: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(0);
    transition: all .3s ease-in-out; 
}

.menu-box:hover .menu-content h3{ 
    color: #6415ff;
}

.leftSide-menu-img{
    position: absolute;
    left: 0px;
    bottom: 0px;
    transform: translate(-65%);
    z-index: -10;
    height: 320px;
    width: 320px;
    opacity: 0.15;
    fill: currentColor;
    color: #6415ff;
}

.services-main{
    padding: 96px 0;
}
.heading-center{
    text-align: center;
}
.services-sec{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    max-width: 1024px;
    margin: 40px auto 0;
}
.services{
    text-align: center;
    margin: 0 16px;
    padding: 32px 16px;
    transition: all .5s ease-in-out;
}
.service-link{
    text-decoration: none;
    transition: all .5s ease-in-out;
}
.service-link img{
    width: 35%;
    background: #f7fafc;
    border-radius: 50px;
    border: 1px solid #e5e5e5;
    padding: 8px;
}
.service-link h3{
    margin-top: 16px;
    font-size: 20px;
    color: #243E63;
    font-weight: 700;
    line-height: 1;
}
.service-link p{
    margin-top: 16px;
    font-size: 15px;
    color: #506582;
    font-weight: 500;
}
.service-link a{
    margin-top: 20px;
    font-size: 14px;
    color: #8344ff;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.service-link a:hover{
    color: #3c0d99;
}

.services:hover .service-link{
    transform: scale(1.1);
    transition: all .5s ease-in-out;
}
